VITE_SUPABASE_URL=https://wmniigtqmrkibqukpceo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtbmlpZ3RxbXJraWJxdWtwY2VvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NjM3OTgsImV4cCI6MjA5MzUzOTc5OH0.ixJ_caKHwMalMnJ2mDIgRYdHm3ZQB463oUnfoFCB-lESUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
AUTH_EMAIL_FROM=
RESEND_API_KEY=


